{% extends "base2.html"%}
{% load static %}
{% block title %}

Gallery
{% endblock title %}
{% block content %}

<body>
    <div class="container">
    <div class="heading">
        <h3>ART<span> GALLERY</span></h3>

    </div>
    <div class="box">
        <div class="dream">
            <img src="{% static 'img/streetart/streetart4.jpeg' %}">
            <img src="{% static 'img/sculpture/sculpture3.jpeg' %}">
            <img src="{% static 'img/streetart/streetart3.jpeg' %}">
            <img src="{% static 'img/streetart/streetart4.jpeg' %}">
            <img src="{% static 'img/streetart/streetart5.jpeg' %}">
            <img src="{% static 'img/streetart/streetart1.jpeg' %}">
            <img src="{% static 'img/streetart/streetart7.jpeg' %}">
            <img src="{% static 'img/homeimg/home0.jpeg' %}">
        </div>
        <div class="dream">
            <img src="{% static 'img/abstracts/abstract1.jpeg' %}">
            <img src="{% static 'img/homeimg/home0.jpeg' %}">
            <img src="{% static 'img/abstracts/abstract3.jpeg' %}">
            <img src="{% static 'img/acrylic/acrylic1.jpeg' %}">
            <img src="{% static 'img/homeimg/home0.jpeg' %}">
            <img src="{% static 'img/homeimg/home6.jpeg' %}">
            <img src="{% static 'img/abstracts/abstract2.jpeg' %}">
            <img src="{% static 'img/streetart/streetart3.jpeg' %}">
        </div>
        <div class="dream">
            <img src="{% static 'img/homeimg/portrait.jpeg' %}">
            <img src="{% static 'img/sculpture/sculpture2.jpeg' %}">
            <img src="{% static 'img/sculpture/sculpture3.jpeg' %}">
            <img src="{% static 'img/sculpture/sculpture4.jpeg' %}">
            <img src="{% static 'img/sculpture/sculpture5.jpeg' %}">
            <img src="{% static 'img/sculpture/sculpture6.jpeg' %}">




        </div>

    </div>
   </div>


</body>


{% endblock content %}