{% load static%}

<header>
      <nav class="navbar navbar-expand-lg navbar-light" style='background-color: #a3b18a;'>

  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}" class="logo" style="font-size: 2.5rem";>MAU'ZART</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{%url 'gallery' %}" style="font-size: 2rem; margin-left: 14vh;">GALLERY</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 2rem; margin-left: 14vh;">
            ARTWORKS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">SCULPTURES</a></li>
            <li><a class="dropdown-item" href="{% url 'photography' %}">PHOTOGRAPHY</a></li>
            <li><a class="dropdown-item" href="{% url 'paintings' %}">PAINTINGS</a></li>
            <li><a class="dropdown-item" href="{% url 'drawings' %}">DRAWINGS</a></li>
          </ul>

        </li>
          <li class="nav-item dropdown">
          <a class="nav-link " href="{% url 'artist' %}"  role="button"  style="font-size: 2rem; margin-left: 14vh;">
            ARTISTS
          </a>


        </li>
<form class="d-flex" id="authstyle">
              {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn" style="color: #31572c; background-color: #cad2c5; margin-left: 1vh"type="submit" id="header-links"> Profile </a>
                <a href="{% url 'logout' %}" class="btn" style="color: #31572c; background-color: #cad2c5 ; margin-left: 2vh"type="submit" id="header-links"> Logout </a>
              {% else %}
                <a href="{% url 'register' %}" class="btn" style="color: #31572c; background-color: #cad2c5; margin-left: 45vh ;"type="submit" id="header-links"> Create Account </a>
                <a href="{% url 'login' %}" class="btn" style="color: #31572c; background-color: #cad2c5; margin-left: 10px; "type="submit" id="header-links">Log In</a>
              {% endif %}
              </form>
        </li>
      </ul>

    </div>
  </div>
</nav>


</header>







